:root { /*CSS Variables */
    --columnHeaderFontSize: 35px;
    --descriptionFontSize: 20px;
    --borderStyle: 5px solid rgb(97, 87, 87);
    --projectImgSize: 500px;
    --projectCardHeaderColor: lightblue;
}

/* Classes */
.navbar {
    font-size: 30px; /* Increase font size of nav bar links */
    margin-left: auto; /* Send nav bar links to right of page */
}

.headIcon { /* Change size of icon image next to name. Also add space around icon */
    padding-left: 20px;
    width: 50px;
}

.subtext { /*text under Projects column */
    font-size: var(--descriptionFontSize);
}

.headerImg { /* Header image for webpage */
    background-image: url(./images/header.jpg);
    width:100%;
    height:250px;
}
.contactInfo { /* Changes information on footer into flexbox and posistions nicely */
    display: flex; 
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}
/* Flex Box Stuffs */

.flexRow { /* Creates Flexbox Row */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Next two classes makes columns for webpage */
.flexSmallItem { /* Distributes spacing for smaller elements in row */
    flex: 0 0 20%;
}

.flexBigItem { /* Distributes spacing for bigger elements in row */
    flex: 0 0 75%;
    border-left: var(--borderStyle);
}


/* Project Card Classes */

.projectFlexItem { /* All small project card flex items */ 
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    gap: 50px;
} 

.projectCardHeader { /* Positions each project card header nicely */
    position: relative;
    margin: 17rem 0 1.5rem 0;
    background-color: var(--projectCardHeaderColor);
    border-radius: 15px;
}

/* Background image of each project (flex box) so I can have each project have an image of said project */
.projectImgMain { /* My main project card. The eye catcher */
    background-image: url('./images/horiseonCode.png');
    width: var(--projectImgSize);
    height: var(--projectImgSize);
}

.projectImgOne { /* My first side project card. */
    background-image: url('./images/myFirstWebsite.png');
    width: var(--projectImgSize);
    height: var(--projectImgSize);
}

/* End of Project Card Classes */

/* Element Selectors */
body{
    background-color: lightgray;
}
header {  /* Defines header as a flexbox and positions nicely */
    background-color: aqua;
    display:flex;
    align-items: center; /* Center items */
    padding: 20px;
}
header h1 { /* Makes my name a big font size */ 
    font-size: 48px;
}

header ul {
    list-style-type: none; /* Do not show bullet points on list */
}

header li{ 
    display: inline; /* Makes list elements all on one line */
    padding: 30px; /* Adds space between list elements */ 
}

a {
    text-decoration: none; /* Do not show underline on links */ 
  }

main {
    text-align: center; /* Center all items on main elements */
}

main h1 {
    font-size: var(--columnHeaderFontSize);
}

main p{
    font-size: var(--descriptionFontSize);
}
footer {
    text-align: center; /* Center all items on footer elements */
    padding-top: 20px;
}

footer h1{
    font-size: var(--columnHeaderFontSize);
}

section { /* Used for Project Card Pictures (backgrounds) so I do have to redefine */
    background-size: cover;
}

/* Psudo Selectors */
.projectFlexItem:nth-child(odd){ /*Used so I can have two cards side by side for the smaller cards*/
    flex: 0 0 40%; /* Take up 40 % of space for smaller cards*/
    height: 40vh; /*Height of each projec card */
}

.projectFlexItem:nth-child(even){ /*Used so I can have two cards side by side for the smaller cards*/
    flex: 0 0 40%; /* Take up 40 % of space for smaller cards*/
    height: 40vh; /*Height of each projec card */
}

.projectFlexItem:first-child{ /* This is for my main project card */
    flex: 0 0 86%; /* Take up 86 % of space because this is my main card */
}

/*Media Queries */

@media screen and (max-width: 768px) {  
    header li{
        display: block; /* Makes list elements on multiple lines */
        padding: 15px;
    }
    .contactInfo{
        display: block;
    }
}

@media screen and (max-width: 992px) { /* When screen is smaller */
    .flexRow {   /* Change the rows into columns for nice fitting */
        flex-direction: column;
    }
    .flexBigItem { /* Change separator to top */
        border-left: none;
        border-top: var(--borderStyle);
        padding-top: 10px;
    }
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar {
        margin-right: auto;
    }
    .projectFlexItem{
        width: 380px;
    }
}